@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CSS */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(230, 116, 135); /* Set the color of the scrollbar thumb */
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(8, 213, 104); /* Set the color of the thumb on hover */
}
